Repository compound-finance/comet, pull requests merged in 2023-05, with the labels that each got.

#719 Arbitrum proposals
  .github/workflows/enact-migration.yaml
  deployments/arbitrum-goerli/usdc/configuration.json
  deployments/arbitrum-goerli/usdc/migrations/1679518383_configurate_and_ens.ts
  deployments/arbitrum/usdc/configuration.json
  deployments/arbitrum/usdc/migrations/1679020486_configurate_and_ens.ts
  plugins/deployment_manager/DiffState.ts
  scenario/BulkerScenario.ts
  scenario/constraints/MigrationConstraint.ts
  scenario/constraints/ProposalConstraint.ts
  scenario/context/CometContext.ts
  scenario/utils/arbitrumUtils.ts
  src/deploy/index.ts
Labels: proposal

#712 Arbitrum deploy
  .github/workflows/deploy-market.yaml
  .github/workflows/enact-migration.yaml
  .github/workflows/prepare-migration.yaml
  .github/workflows/run-contract-linter.yaml
  .github/workflows/run-coverage.yaml
  .github/workflows/run-eslint.yaml
  .github/workflows/run-forge-tests.yaml
  .github/workflows/run-gas-profiler.yaml
  .github/workflows/run-scenarios.yaml
  .github/workflows/run-unit-tests.yaml
  contracts/CometRewards.sol
  contracts/IGovernorBravo.sol
  contracts/bridges/SweepableBridgeReceiver.sol
  contracts/bridges/arbitrum/AddressAliasHelper.sol
  contracts/bridges/arbitrum/ArbitrumBridgeReceiver.sol
  contracts/bridges/test/SweepableBridgeReceiverHarness.sol
  deployments/arbitrum-goerli/usdc/configuration.json
  deployments/arbitrum-goerli/usdc/deploy.ts
  deployments/arbitrum-goerli/usdc/migrations/1679518383_configurate_and_ens.ts
  deployments/arbitrum-goerli/usdc/relations.ts
  deployments/arbitrum-goerli/usdc/roots.json
  deployments/arbitrum/usdc/configuration.json
  deployments/arbitrum/usdc/deploy.ts
  deployments/arbitrum/usdc/migrations/1679020486_configurate_and_ens.ts
  deployments/arbitrum/usdc/relations.ts
  deployments/arbitrum/usdc/roots.json
  deployments/goerli/usdc/relations.ts
  deployments/goerli/usdc/roots.json
  deployments/mainnet/usdc/relations.ts
  deployments/mainnet/usdc/roots.json
  hardhat.config.ts
  package.json
  plugins/deployment_manager/DiffState.ts
  plugins/deployment_manager/Spider.ts
  plugins/import/etherscan.ts
  scenario/BulkerScenario.ts
  scenario/CrossChainGovernanceScenario.ts
  scenario/RewardsScenario.ts
  scenario/SupplyScenario.ts
  scenario/constraints/MigrationConstraint.ts
  scenario/constraints/NativeTokenConstraint.ts
  scenario/constraints/ProposalConstraint.ts
  scenario/context/CometContext.ts
  scenario/utils/arbitrumUtils.ts
  scenario/utils/bridgeProposal.ts
  scenario/utils/index.ts
  scenario/utils/isBridgeProposal.ts
  scenario/utils/relayArbitrumMessage.ts
  scenario/utils/relayMessage.ts
  src/deploy/index.ts
  test/bridges/base-bridge-receiver-test.ts
  test/bridges/sweepable-bridge-receiver-test.ts
  test/helpers.ts
  test/rewards-test.ts
  yarn.lock
Labels: deployment, audited

#735 Proposal to transfer more COMP to Polygon
  deployments/polygon/usdc/migrations/1681313581_more_comp.ts
  hardhat.config.ts
  scenario/utils/isBridgeProposal.ts
Labels: proposal

#737 Create custom price feed for WBTC
  contracts/pricefeeds/ConstantPriceFeed.sol
  contracts/pricefeeds/ScalingPriceFeed.sol
  contracts/pricefeeds/WBTCPriceFeed.sol
  contracts/pricefeeds/WstETHPriceFeed.sol
  test/wbtc-price-feed.ts
Labels: openzeppelin, audited
